<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.amazeyourself.lockdown" version="1.0.0" >

  <name>Lockdown</name>

  <description>Lockdown is a board game made using Scratch, ported into Android</description>

  <author href="https://scratch.mit.edu/users/amazeyourself" email="sureshsarvesh2010@gmail.com">amazeyourself</author>

  <icon src="icon.png" />

</widget>